@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
/* Vars */
:root {
  --light-red: hsl(0, 100%, 67%);
  --light-red-opacity: hsl(0, 84%, 93%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --orangey-yellow-opacity: hsl(39, 100%, 88%);
  --green-teal: hsl(166, 100%, 37%);
  --green-teal-opacity: hsl(166, 65%, 83%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --cobalt-blue-opacity: hsl(235, 37%, 70%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --font-primary: "Hanken Grotesk", sans-serif;
  --size-paragraph: 18px;
}

/* Reseteo */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-primary);
  background-color: var(--pale-blue);
}

/* Customs Styles */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  max-width: 80vw;
  height: 80vh;
  background-color: var(--white);
  border-radius: 2.5rem;
}

/* Blue side Styles */
.blue-side {
  background: radial-gradient(var(--light-slate-blue), var(--light-royal-blue));
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  text-align: center;
}
.blue-side-title {
  color: var(--light-lavender);
  font-size: 3rem;
}
.blue-side-result {
  border-radius: 50%;
  background: linear-gradient(hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  text-align: center;
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
}
.blue-side-result h2 {
  color: var(--white);
  font-size: 5rem;
  margin-bottom: -5px;
}
.blue-side-result p {
  font-size: 1rem;
  color: var(--light-lavender);
}
.blue-side-subtitle {
  font-size: 3rem;
  color: var(--white);
}
.blue-side-paragraph {
  font-size: 1.8rem;
  padding: 0 5rem 2em 5rem;
  color: var(--light-lavender);
}

/* White side Styles */
.reaction {
  background-color: var(--light-red-opacity);
  color: var(--light-red);
}

.memory {
  background-color: var(--orangey-yellow-opacity);
  color: var(--orangey-yellow);
}

.verbal {
  background-color: var(--green-teal-opacity);
  color: var(--green-teal);
}

.visual {
  background-color: var(--cobalt-blue-opacity);
  color: var(--cobalt-blue);
}

.percents-side_title {
  padding-left: 4rem;
  font-size: 3rem;
  color: var(--dark-gray-blue);
}
.percents-side ul {
  margin: 1rem auto;
}
.percents-side ul li {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 5rem;
  margin-bottom: 1rem;
  border-radius: 1.6rem;
  list-style: none;
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem var(--pale-blue);
}
.percents-side ul li img {
  padding-left: 1rem;
}
.percents-side ul li p {
  position: absolute;
  right: 2rem;
  color: var(--dark-gray-blue);
}
.percents-side ul li p span {
  color: var(--light-lavender);
}
.percents-side_button {
  position: relative;
  left: 4rem;
  bottom: -5rem;
  padding: 1.5rem 10rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--light-lavender);
  border-radius: 4rem;
  background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
}/*# sourceMappingURL=estilos.css.map */