@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
/* Vars */
:root {
  --light-red: hsl(0, 100%, 67%);
  --light-red-opacity: hsl(0, 84%, 93%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --orangey-yellow-opacity: hsl(39, 100%, 88%);
  --green-teal: hsl(166, 100%, 37%);
  --green-teal-opacity: hsl(166, 65%, 83%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --cobalt-blue-opacity: hsl(235, 37%, 70%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsl(256, 72%, 46%);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --font-primary: "Hanken Grotesk", sans-serif;
  --size-paragraph: 18px;
}

/* Reseteo */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

/* Blue side Styles */
.blue-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, var(--light-royal-blue) 40%, var(--light-slate-blue));
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}
.blue-side-title {
  color: var(--light-lavender);
  font-size: 2rem;
}
.blue-side-result {
  border-radius: 50%;
  background: linear-gradient(to bottom, var(--violet-blue) 0%, var(--light-royal-blue) 25% 55%, var(--light-slate-blue) 100%);
  text-align: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
}
.blue-side-result h2 {
  color: var(--white);
  font-size: 3.5rem;
}
.blue-side-result p {
  font-size: 1rem;
  color: var(--light-lavender);
  margin-top: -3rem;
}
.blue-side-subtitle {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: -1rem;
}
.blue-side-paragraph {
  font-size: 1.6rem;
  text-align: center;
  padding: 0 5rem;
  color: var(--light-lavender);
}

/* White side Styles */
.reaction {
  background-color: var(--light-red-opacity);
  color: var(--light-red);
}

.memory {
  background-color: var(--orangey-yellow-opacity);
  color: var(--orangey-yellow);
}

.verbal {
  background-color: var(--green-teal-opacity);
  color: var(--green-teal);
}

.visual {
  background-color: var(--cobalt-blue-opacity);
  color: var(--cobalt-blue);
}

.percents-side {
  padding: 2rem;
}
.percents-side_title {
  font-size: 2rem;
  color: var(--dark-light-blue);
}
.percents-side ul {
  padding: 0;
}
.percents-side ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  border-radius: 1.6rem;
  list-style: none;
  font-weight: 700;
  font-size: 1.3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem var(--pale-blue);
}
.percents-side ul li p {
  color: var(--dark-gray-blue);
}
.percents-side ul li p span {
  color: var(--light-lavender);
}
.percents-side_button {
  width: 100%;
  height: 5vh;
  background: var(--dark-gray-blue);
  color: var(--light-lavender);
  border-radius: 4rem;
  font-size: 1.5rem;
  transition: 1s ease all;
}
.percents-side_button:hover {
  background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
}

/* Media Query for Desktop */
@media screen and (min-width: 967px) {
  body {
    background-color: var(--pale-blue);
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    flex-direction: row;
    max-width: 80vw;
    height: 80vh;
    border-radius: 2.5rem;
  }
  .blue-side {
    border-radius: 2.5rem;
    max-width: 50%;
  }
  .blue-side-title {
    font-size: 3rem;
  }
  .blue-side-result {
    width: 20rem;
    height: 20rem;
  }
  .blue-side-result h2 {
    font-size: 6rem;
  }
  .blue-side-result p {
    font-size: var(--size-paragraph);
  }
  .blue-side-subtitle {
    font-size: 3rem;
  }
  .blue-side-paragraph {
    font-size: var(--size-paragraph);
    padding: 2rem 5rem 2rem 5rem;
  }
  .percents-side_title {
    font-size: 3rem;
  }
  .percents-side ul li {
    width: 30vw;
    height: 5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .percents-side_button {
    width: 30vw;
    height: 10vh;
    border: none;
    font-size: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */